# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java
target/
*.class
*.log

# Node
node_modules/
dist/
coverage/
.vite/

# Environment
.env
.env.local
application-local.yml

# Docker data
deploy/data/

